body{
  background-color: white;
}
.custom-header header>ul {
  width: 33.33%;
}

.custom-header header {
  background-color: black;
  height: 100% !important;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5%;
  padding-left: 5%;
}

.custom-header header .desktop-menu-item li a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  font-family: "rubick" !important;
  /* font-family: "gang" !important; */
}

.custom-header header .desktop-menu-item li a:hover {
  color: #fc4242;
}


.AboutBanner:after {
  content: "";
  width: 100%;
  height: 80px;
  bottom: -40px;
  left: 0;
  position: absolute;
  background-image: url(../assets/images/BlackTopDivider.svg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat-x;
}
.Banner:after {
  content: "";
  width: 100%;
  height: 80px;
  bottom: -40px;
  left: 0;
  position: absolute;
  background-image: url(../assets/images/BlackTopDivider.svg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat-x;
}

.Featuredevider:before {
  content: "";
  width: 100%;
  height: 80px;
  top: -40px;
  left: 0;
  position: absolute;
  background-image: url(../assets/images/BlackBottomDivider.svg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat-x;
}

.Featuredevider:after {
  content: "";
  width: 100%;
  height: 80px;
  bottom: -40px;
  left: 0;
  position: absolute;
  background-image: url(../assets/images/BlackTopDivider.svg);
  background-size: cover;
  background-position: top;
  background-repeat: repeat-x;
}

.shadow1 {
  text-shadow:
    0 0 10px #ff00001f,
    0 0 2px #FF0000,
    0 0 2px #FF0000,
    0 0 2px #FF0000;

  /* Box shadow for the raised effect */
  box-shadow:
    0 4px 6px rgba(255, 0, 0, 0.3),
}


/* .product-banner:before {
  content: "";
  width: 100%;
  height: 300px;
  background: rgb(220, 219, 215);
  background: linear-gradient(180deg, rgb(220 219 215 / 55%) 0%, rgb(255 255 255 / 94%) 100%);
  position: absolute;
  bottom: 0%;
  z-index: 1;
  opacity: 1;
} */
.image-mix-shade:before {
  content: "";
  width: 100%;
  height: 300px;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgb(0 0 0) 67%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: -80%;
  z-index: 1;

}

.Review .review-area:before,
.Review .review-area:after {
  content: "";
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;

  z-index: 21;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.Review .review-area:before {
  left: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.Review .review-area:after {
  right: 0;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

.PlanContentArea h2,
.PlanContentArea h3,
.PlanContentArea h4,
.PlanContentArea h5,
.PlanContentArea h6 {
  color: black;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 15px;
  font-family: "rubick";
}

.PlanContentArea p {
  font-family: "rubick";
  font-size: 18px;
  margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
  .custom-header header {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 767px) {
  .Banner:after {
    bottom: -70px;
  }
}